/* PC */
@media (max-width: 1087px) {
    ._container {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    ._container {
        max-width: 759px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    ._container {
        max-width: none;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
}

/* ==HEADER=================== */
@media (max-width: 767.98px) {
    .header__logo {
        font-size: 34px;
    }
    .menu__icon {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__body {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        padding: 160px 30px 30px 30px;
        transition: top 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active {
        top: 0;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .menu__item:not(:last-child) {
        margin: 0 0px 40px 0;
    }
}

/* ==MAIN BLOCK=============== */ 
@media (max-width: 991.98px) {
    .page__main-block {
        padding: 189px 0 80px 0;
    }
    .page__block-two {
        padding: 129px 0 80px 0;
    }
    .page__block-three {
        padding: 129px 0 80px 0;
    }
    .page__block-four {
        padding: 129px 0 80px 0;
    }
    .page__block-five {
        padding: 129px 0 80px 0;
    }
    .page__letsdo {
        padding: 90px 0 90px;
    }
    .body-letsdo__title {
        font-size: 40px;
    }
    .title {
        font-size: 90px;
    }
    .title:not(:last-child) {
        margin: 0 0 32px 0;
    }
    .sub-title:not(:last-child) {
        margin: 0 0 70px 0;
    }
}

@media (max-width: 767.98px) {
    .page__main-block {
        padding: 139px 0 30px 0;
    }
    .page__block-two {
        padding: 49px 0 30px 0;
    }
    .page__block-three {
        padding: 49px 0 30px 0;
    }
    .page__block-four {
        padding: 49px 0 30px 0;
    }
    .page__block-five {
        padding: 49px 0 30px 0;
    }
    .page__letsdo {
        padding: 40px 0 40px;
    }
    .body-letsdo__title {
        font-size: 30px;
    }
    .body-letsdo__sub-title {
        font-size: 20px;
    }
    .title {
        font-size: 60px;
    }
    .title:not(:last-child) {
        margin: 0 0 32px 0;
    }
    .sub-title:not(:last-child) {
        margin: 0 0 50px 0;
    }
}

/* ==FOOTER================== */
@media (max-width: 1087px) {
    .footer-menu__list {
        margin-right: 0px;
    }
}

@media (max-width: 991.98px) {
    .footer-block__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-footer-block__text {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 767.98px) {
    .footer {
        background-color: var(--black);
        padding: 35px 0;
    }
}

@media (max-width: 450.98px) {
    .footer-menu__list {
        display: flex;
        flex-direction: column;
    }
    .footer-menu__item:not(:last-child) {
        margin: 0 0px 0 0;
    }
}